// Josh.scss


.Josh {
    font-family: "Roboto", sans-serif;
  
    .scale-90 {
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
    }
  
    // Container Style
    div.m-12 {
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
  
      // Image Container Style
      .w-24.h-24 {
        img {
          border: 3px solid white;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
  
      // Text Container Style
      .px-8.py-2 {
        background: rgba(0, 0, 0, 0.5);  // Semi-transparent background
        border-radius: 8px;
  
        // Title Style
        .uppercase {
          font-size: 1.2em;
          margin-bottom: 0.5em;
        }
  
        // Description Style
        p {
          font-size: 1em;
        }
      }
    }
  }
  